{% load static %}

{% include "navigation.html" %}

<div class="row  border-bottom white-bg dashboard-header">
    <a href="{{BannerHref}}">{{Banner}}</a>
</div>
<div class="wrapper wrapper-content">

    <div class="col-lg-3"></div>

    <div class="row">
        <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Liste des étudiants</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>KILAHY </td>
                            <td>Erwann</td>
                            <td><button class="btn btn-danger  dim " type="button"> Delete </button></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>POPIEL </td>
                            <td>Damien</td>
                            <td><button class="btn btn-danger  dim " type="button"> Delete </button></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>LAUNOY </td>
                            <td>Nicolas</td>
                            <td><button class="btn btn-danger  dim " type="button"> Delete </button></td>
                        </tr>
                        </tbody>
                    </table>
                    <div style="text-align: center" ><button class="btn btn-primary dim" type="button">Ajouter un étudiant</button></div>

                </div>
            </div>
        </div>
    </div>



    <div class="col-lg-1">
    </div>
</div>

{% include "footer.html" %}
</html>