{% load static %}

{% include "navigation.html" %}

<div class="row  border-bottom white-bg dashboard-header">
    <a href="{{BannerHref}}">{{Banner}}</a>
</div>
<div class="wrapper wrapper-content">

    <div class="col-lg-2"></div>
    <div class="col-lg-8">

    {% if True %} <!-- cas de l'affichage de la HomePage de l'élève-->

<div class="col-lg-4">
    <a href="#"><div class="widget navy-bg p-lg text-center">
        <div class="m-b-md">
            <i class="fa fa-file-text fa-4x"></i>
            <h1 class="m-xs">15/20</h1>
            <h3 class="font-bold no-margins">
                QCM Français
            </h3>
            <small>Fatah Ouli</small>
        </div>
    </div></a>
    </br>
    <a href="#"><div class="widget navy-bg p-lg text-center">
        <div class="m-b-md">
            <i class="fa fa-file-text fa-4x"></i>
            <h1 class="m-xs">13/20</h1>
            <h3 class="font-bold no-margins">
                QCM react
            </h3>
            <small>Julien Mafar</small>
        </div>
    </div></a>

</div>

<div class="col-lg-4">
    <a href="#"><div class="widget navy-bg p-lg text-center">
        <div class="m-b-md">
            <i class="fa fa-file-text fa-4x"></i>
            <h1 class="m-xs">15/20</h1>
            <h3 class="font-bold no-margins">
                QCM Français
            </h3>
            <small>Fatah Ouli</small>
        </div>
    </div></a>
    </br>
    <a href="#"><div class="widget navy-bg p-lg text-center">
        <div class="m-b-md">
            <i class="fa fa-file-text fa-4x"></i>
            <h1 class="m-xs">13/20</h1>
            <h3 class="font-bold no-margins">
                QCM react
            </h3>
            <small>Julien Mafar</small>
        </div>
    </div></a>
   

</div>

<div class="col-lg-4">
    <a href="#"><div class="widget navy-bg p-lg text-center">
        <div class="m-b-md">
            <i class="fa fa-file-text fa-4x"></i>
            <h1 class="m-xs">15/20</h1>
            <h3 class="font-bold no-margins">
                QCM Français
            </h3>
            <small>Fatah Ouli</small>
        </div>
    </div></a>
    </br>
    <a href="#"><div class="widget navy-bg p-lg text-center">
        <div class="m-b-md">
            <i class="fa fa-file-text fa-4x"></i>
            <h1 class="m-xs">13/20</h1>
            <h3 class="font-bold no-margins">
                QCM react
            </h3>
            <small>Julien Mafar</small>
        </div>
    </div></a>

</div>

{% endif %}


{% if False %} <!-- cas de l'affichage de la HomePage du professeur-->

<div class="col-lg-12">
    
    <a href="#"><div class="widget navy-bg p-lg text-center">
        <div class="m-b-md">
            <i class="fa fa-file-text fa-4x"></i>
            <h1 class="m-xs">13/20</h1>
            <h3 class="font-bold no-margins">
                QCM react
            </h3>
            <small>Julien Mafar</small>
        </div>
    </div></a>
   

</div>

<div class="col-lg-12">
    <a href="#"><div class="widget navy-bg p-lg text-center">
        <div class="m-b-md">
            <i class="fa fa-file-text fa-4x"></i>
            <h1 class="m-xs">15/20</h1>
            <h3 class="font-bold no-margins">
                QCM Français
            </h3>
            <small>Fatah Ouli</small>
        </div>
    </div></a>

</div>

{% endif %}

</div>

    <div class="col-lg-1">
    </div>
    </div>

{% include "footer.html" %}
</html>