{% load static %}

{% include "navigation.html" %}

<div class="row  border-bottom white-bg dashboard-header">
    <a href="{{BannerHref}}">{{Banner}}</a>
</div>
<div class="wrapper wrapper-content">

    <div class="col-lg-3"></div>

    <div class="row">
        <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Classrooms</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Classroom Name</th>
                            <th>Number of students</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Classroom 1 </td>
                            <td>27</td>
                            <td><button class="btn btn-danger  dim " type="button"> Delete </button><button class="btn btn-success  dim" type="button">Details</i></button></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Classroom 2 </td>
                            <td>16</td>
                            <td><button class="btn btn-danger  dim " type="button"> Delete </button><button class="btn btn-success  dim" type="button">Details</i></button></td>
                        </tr>
                        </tbody>
                    </table>
                    <div style="text-align: center" ><button class="btn btn-primary dim" type="button">Add a classroom</button></div>

                </div>
            </div>
        </div>
    </div>



    <div class="col-lg-1">
    </div>
</div>

{% include "footer.html" %}
</html>