{% load static %}

{% include "navigation.html" with navigationClassRoomActive=navigation %}

<div class="row  border-bottom white-bg dashboard-header">
    {% for element in banner %}
    {% if element.id is not None %}
    <a href='{% url element.url element.id %}'>{{element.libelle}}</a> /
    {% else %}
    <a href='{% url element.url %}'>{{element.libelle}}</a> /
    {% endif %}
    {% endfor %}
    <a href='#'>{{currentElement}}</a>
</div>
<div class="wrapper wrapper-content">


    <div class="row">
         <div class="ibox ">
            <div class="ibox-content">
                <div>
                    <h2>{{classroom.libelle}}</h2>
                </div>
                <div class="hr-line-dashed"></div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="30%">Nom</th>
                            <th width="30%">Prénom</th>
                            <th width="30%">Classes</th>
                            <th width="10%" class="text-right">Actions</th>

                        </tr>
                    </thead>
                    <tbody>
                    {% for element in classroomData %}
                        <tr>
                            <td>{{element.eleve.last_name}} </td>
                            <td>{{element.eleve.first_name}}</td>
                            <td>Classroom1, Classroom2</td>
                            <td align="right">
                                <a href='{% url "deleteStudent" classroom.id element.eleve.id %}' class="btn btn-danger btn-circle"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div style="text-align: center" >
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAjoutEleve">Ajouter un étudiant</button>
                </div>
            </div>
         </div>
    </div>
</div>


<div class="modal inmodal fade" id="modalAjoutEleve" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="m-t" role="form form-horizontal" id="eleveAjout" action='{% url "detailClassRoom" classroom.id %}' method="POST">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                    <h4 class="modal-title">Ajouter un eleve à la classe</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Ajout</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for eleve in eleveDispo %}
                                <tr>
                                    <td>
                                        {{eleve.user.last_name}}
                                    </td>
                                    <td>
                                        {{eleve.user.first_name}}
                                    </td>
                                    <td>
                                        <input type="checkbox" name="eleve[{{eleve.user.id}}]">
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Sauvegarder la modification</button>
            </div>
            </form>
        </div>
    </div>
</div>

{% include "footer.html" %}
</html>