{% load static %}

{% include "navigation.html" with navigationClassRoomActive=navigation %}

<div class="row  border-bottom white-bg dashboard-header">
    {% for element in banner %}
    {% if element.id is not None %}
    <a href='{% url element.url element.id %}'>{{element.libelle}}</a> /
    {% else %}
    <a href='{% url element.url %}'>{{element.libelle}}</a> /
    {% endif %}
    {% endfor %}
    <a href='#'>{{currentElement}}</a>
</div>
<div class="wrapper wrapper-content">


    <div class="row">
         <div class="ibox ">
            <div class="ibox-content">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="30%">Nom</th>
                            <th width="30%">Prénom</th>
                            <th width="30%">Classes</th>
                            <th width="10%" class="text-right">Actions</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>KILAHY </td>
                            <td>Erwann</td>
                            <td>Classroom1, Classroom2</td>
                            <td align="right">
                                <a class="btn btn-danger btn-circle" type="button"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>POPIEL </td>
                            <td>Damien</td>
                            <td>Classroom1, Classroom2</td>
                            <td align="right">
                                <a class="btn btn-danger btn-circle" type="button"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>LAUNOY </td>
                            <td>Nicolas</td>
                            <td>Classroom1, Classroom2</td>
                            <td align="right">
                                <a class="btn btn-danger btn-circle" type="button"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="text-align: center" ><a class="btn btn-primary" >Ajouter un étudiant</a></div>
            </div>
         </div>
    </div>
</div>

{% include "footer.html" %}
</html>