{% load static %}

{% include "navigation.html" %}

<div class="row  border-bottom white-bg dashboard-header">
    {% for element in banner %}
    {% if element.id is not None %}
    <a href='{% url element.url element.id %}'>{{element.libelle}}</a> /
    {% else %}
    <a href='{% url element.url %}'>{{element.libelle}}</a> /
    {% endif %}
    {% endfor %}
    <a href='#'>{{currentElement}}</a>
</div>
<div class="wrapper wrapper-content">
    <div class="ibox ">
        <div class="ibox-content">
            <h2>
                Ajouter un quizz
            </h2>
            <div class="wrapper wrapper-content animated fadeIn">

                <div class="row">
                    <div class="col-lg-8">
                        <div class="tabs-container">
                            <ul class="nav nav-tabs" role="tablist">
                                <li><a class="nav-link active" data-toggle="tab" href="#tab-1"> Libellé</a></li>
                                <li><a class="nav-link" data-toggle="tab" href="#tab-2">Question</a></li>
                                <li><a class="nav-link" data-toggle="tab" href="#tab-3">Réponses</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" id="tab-1" class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="form-group row">
                                            {% if idQuizz is not None %}
                                            <form class="m-t" role="form" action='{% url "add_quizz" idQuizz %}' method="POST">
                                            {% else %}
                                            <form class="m-t" role="form" action='{% url "add_quizz" %}' method="POST">
                                            {% endif %}
                                                {% csrf_token %}
                                                 <div class="form-group">
                                                    {{ form.libelle }}
                                                </div>
                                                <button type="submit" name="submitQuizz" class="btn btn-w-m btn-primary">Enregistrer</button>
                                            </form>
                                        </div>


                                    </div>
                                </div>
                                <div role="tabpanel" id="tab-2" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="form-group row">
                                            {% if idQuizz is not None %}
                                            <form class="m-t" role="form" action='{% url "add_quizz" idQuizz %}' method="POST">
                                            {% else %}
                                            <form class="m-t" role="form" action='{% url "add_quizz" %}' method="POST">
                                            {% endif %}
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    {{ formQuestion.libelle }}
                                                </div>
                                                <button type="submit" name="submitQuestion" class="btn btn-w-m btn-primary">Enregistrer</button>
                                            </form>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="ibox ">
                                                <h5> Vos questions</h5>
                                                <div >

                                                    <table class="table">
                                                        <tbody>
                                                        <tr>
                                                            {% for n in questions %}
                                                            <li>{{ n.libelle }}</li>
                                                            {% endfor %}
                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" id="tab-3" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="col-md-6" data-select2-id="10">


                                            <div class="form-group row">


                                                <form class="m-t" role="form" action='{% url "add_quizz" idQuizz %}' method="POST">
                                                    {% csrf_token %}
                                                    <p>
                                                        Selectionnez votre questions :
                                                    </p>
                                                    <div class="form-group">
                                                    {{ formReponse.question}}
                                                    </div>
                                                    <div class="form-group">
                                                        {{ formReponse.libelle }}
                                                    </div>
                                                    <div class="form-group">
                                                        {{ formReponse.valeur }}
                                                    </div>
                                                    <button type="submit" name="submitReponse" class="btn btn-w-m btn-primary">Enregistrer</button>
                                                </form>
                                            </div>
                                             <br>
                                            <div class="hr-line-dashed"></div>
                                        <div class="col-lg-6">
                                            <div class="ibox ">
                                                <h5> Vos réponses</h5>
                                                <div>

                                                    <table class="table">
                                                        <tbody>
                                                        <tr>

                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>

            </div>
         </div>
    </div>
</div>




{% include "footer.html" %}
</html>
