{% load static %}

{% include "navigation.html" %}

<div class="row  border-bottom white-bg dashboard-header">
    {% for element in banner %}
    {% if element.id is not None %}
    <a href='{% url element.url element.id %}'>{{element.libelle}}</a> /
    {% else %}
    <a href='{% url element.url %}'>{{element.libelle}}</a> /
    {% endif %}
    {% endfor %}
    <a href='#'>{{currentElement}}</a>
</div>
<div class="wrapper wrapper-content">
    <div class="ibox ">
        <div class="ibox-content">
            <h2>
                Ajouter un quizz
            </h2>
            <div class="wrapper wrapper-content animated fadeIn">

                <div class="row">
                    <div class="col-lg-8">
                        <div class="tabs-container">
                            <ul class="nav nav-tabs" role="tablist">
                                <li><a class="nav-link active" data-toggle="tab" href="#tab-1"> Libellé</a></li>
                                <li><a class="nav-link" data-toggle="tab" href="#tab-2">Question</a></li>
                                <li><a class="nav-link" data-toggle="tab" href="#tab-3">Réponses</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" id="tab-1" class="tab-pane active">
                                    <div class="panel-body">

                                        <div class="form-group row">
                                            <form class="m-t" role="form" action='{% url "add_quizz" idQuizz %}' method="POST">
                                                {% csrf_token %}
                                                 <div class="form-group">
                                                    {{ form.libelle }}
                                                </div>
                                                <button type="button" name="submitQuizz" class="btn btn-w-m btn-primary">Enregistrer</button>
                                            </form>
                                        </div>


                                    </div>
                                </div>
                                <div role="tabpanel" id="tab-2" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="form-group row">
                                            <form class="m-t" role="form" action='{% url "add_quizz" idQuizz %}' method="POST">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    {{ formQuestion.libelle }}
                                                </div>
                                                <button type="submit" name="submitQuestion" class="btn btn-w-m btn-primary">Enregistrer</button>
                                            </form>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="ibox ">
                                                <h5> Vos questions</h5>
                                                <div >

                                                    <table class="table">
                                                        <tbody>
                                                        <tr>
                                                            {% for n in questions %}
                                                            <li>{{ n.libelle }} {{ n.quizz_id }}</li>
                                                            {% endfor %}
                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" id="tab-3" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="col-md-6" data-select2-id="10">
                                            <p>
                                                Selectionnez votre questions :
                                            </p>
                                            <select class="select2_demo_1 form-control select2-hidden-accessible" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                                <option value="1" data-select2-id="1"></option>
                                                <option value="1" data-select2-id="2">Quelle est la couleur du cheval blanc d'Henri IV ?</option>
                                            </select>
                                            <br>
                                            <div class="form-group row">

                                                <div class="col-lg-8"><input type="text" placeholder="Votre réponse" class="form-control" autocomplete="off"></div>

                                                <div class="i-checks"><label> <input type="radio" value="option1" name="a"> <i></i> VRAI </label>
                                                    <label><input type="radio" value="option1" name="a"> <i></i> FAUX </label>
                                                </div>
                                            </div>
                                            <div style="text-align: center"><button type="button" class="btn btn-block btn-outline btn-primary">Ajouter</button></div>
                                             <br>
                                            <div class="hr-line-dashed"></div>
                                        <div class="col-lg-6">
                                            <div class="ibox ">
                                                <h5> Vos réponses</h5>
                                                <div >

                                                    <table class="table">
                                                        <tbody>
                                                        <tr>

                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>

            </div>
         </div>
    </div>
</div>




{% include "footer.html" %}
</html>
