{% load static %}

{% include "navigation.html" %}

<div class="row  border-bottom white-bg dashboard-header">
    {% for element in banner %}
    {% if element.id is not None %}
    <a href='{% url element.url element.id %}'>{{element.libelle}}</a> /
    {% else %}
    <a href='{% url element.url %}'>{{element.libelle}}</a> /
    {% endif %}
    {% endfor %}
    <a href='#'>{{currentElement}}</a>
</div>
<div class="wrapper wrapper-content">
    <div class="ibox ">
        <div class="ibox-content">
            <h2>
                Détail du quizz : <span class="text-navy">{{quizz.libelle}}</span>
            </h2>

            <div class="hr-line-dashed"></div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Quizz</th>
                        <th>Nom de l'étudiant</th>
                        <th>Date</th>
                        <th>Note de l'étudiant</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for element in lstInstanceQuizz %}
                    <tr>
                        <td>{{element.instance.id}}</td>
                        <td><span class="line">{{element.instance.quizz.libelle}}</span></td>
                        <td>{{element.instance.eleve.first_name}} {{element.instance.eleve.last_name}}</td>
                        <td>{{element.instance.date}}</td>
                        {% if element.note == '-' or element.note >= 10 %}
                        <td class="text-navy"> {{element.note}}/20 </td>
                        {% else %}
                        <td class="text-danger"> {{element.note}}/20 </td>
                        {% endif %}
                        <td>
                            {% if element.note != '-' %}
                            <a href='{% url "quizz_detail" element.instance.id %}' title="detail" class="btn btn-circle btn-success"><i class="fa fa-search"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        <div class="hr-line-dashed"></div>
    </div>
</div>




 {% include "footer.html" %}
</html>