{% load static %}

{% include "navigation.html" %}

<div class="row  border-bottom white-bg dashboard-header">
    {% for element in banner %}
    <a href='{% url element.url %}'>{{element.libelle}}</a> /
    {% endfor %}
    <a href='#'>{{currentElement}}</a>
</div>
<div class="wrapper wrapper-content">
    <div class="ibox ">
        <div class="ibox-content">
            <h2>
                Détail du quizz <span class="text-navy">“Quizz {{idQuizz}}”</span>
            </h2>

            <div class="search-form">
            </div>
            <div class="hr-line-dashed"></div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Quizz</th>
                        <th>Nom de l'étudiant</th>
                        <th>Date</th>
                        <th>Note de l'étudiant</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td><span class="line">QCM de React</span></td>
                        <td>Erwann KILAHY</td>
                        <td>05/06/2020</td>
                        <td class="text-navy"> 16/20 </td>
                        <td>
                            <a href='{% url "quizz_detail" 1 %}' class="btn btn-circle btn-success"><i class="fa fa-search"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><span class="line">QCM de NodeJS</span></td>
                        <td>Damien POPIEL</td>
                        <td>05/06/2020</td>
                        <td class="text-navy">  19/20 </td>
                        <td>
                            <a href='{% url "quizz_detail" 2 %}' class="btn btn-circle btn-success"><i class="fa fa-search"></i></a>
                        </td>
                    </tr>
                    <tr>

                        <td rowspan="2">3</td>
                        <td rowspan="2"><span class="line">QCM de Django</span></td>
                        <td rowspan="2">Nicolas LAUNOY</td>
                        <td>05/06/2020</td>
                        <td class="text-warning"> 06/20 </td>
                        <td>
                            <a href='{% url "quizz_detail" 3 %}' class="btn btn-circle btn-success"><i class="fa fa-search"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>08/06/2020</td>
                        <td class="text-navy"> 15/20 </td>
                        <td>
                            <a href='{% url "quizz_detail" 4 %}' class="btn btn-circle btn-success"><i class="fa fa-search"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        <div class="hr-line-dashed"></div>
    </div>
</div>




 {% include "footer.html" %}
</html>