{% load static %}

{% include "navigation.html" %}

<div class="row  border-bottom white-bg dashboard-header">
    {% for element in banner %}
    {% if element.id is not None %}
    <a href='{% url element.url element.id %}'>{{element.libelle}}</a> /
    {% else %}
    <a href='{% url element.url %}'>{{element.libelle}}</a> /
    {% endif %}
    {% endfor %}
    <a href='#'>{{currentElement}}</a>
</div>
<div class="wrapper wrapper-content">
    <div class="ibox ">
        <div class="ibox-content">
            <h2>
                Détail des réponses de : <span class="text-navy">{{quizz.libelle}}</span>
            </h2>

            <div class="search-form">
            </div>
            <div class="hr-line-dashed"></div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Question</th>
                    <th>Reponse</th>
                    <th>Valeur</th>
                </tr>
                </thead>
                <tbody>
                {% for element in lstReponse %}
                <tr>
                    <td><span class="line">{{element.question.libelle}}</span></td>
                    <td>{{element.reponse.libelle}}</td>
                    {% if element.reponse.valeur == 0 %}
                    <td class="text-warning"> FAUX </td>
                    {% else %}
                    <td class="text-info"> VRAI </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            <div class="hr-line-dashed"></div>            
        </div>
    </div>


    <div class="col-lg-3"></div>











    {% include "footer.html" %}
</html>